@import "tailwindcss";

@layer utilities {
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}
::-webkit-scrollbar-thumb {
  background-color: #4a5565;
}
